---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import ThemeScript from "../components/ThemeScript.astro";
import { SITE_CONFIG } from "../consts";
import { cn } from "../lib/utils";

interface Props {
  title: string;
  description: string;
  image?: string | ImageMetadata;
  className?: string;
  containerClass?: string;
  article?: boolean;
}



const {
  title,
  description,
  image = SITE_CONFIG.defaultImage,
  className,
  containerClass,
  article = false,
} = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      article={article}
    />
    <ThemeScript />
  </head>
  <body
    class="min-h-screen font-sans text-zinc-900 antialiased transition-colors dark:bg-zinc-900 dark:text-zinc-200"
  >
    <Header />
    <div class={cn("mx-auto p-4", containerClass ?? "max-w-2xl", className)}>
      <slot />
    </div>
  </body>
</html>
